html, body {
   margin: 0;
   padding: 0;
   overflow: hidden;
   touch-action: manipulation;
}

.unselectable {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   
   cursor: default;
}

.container {
   width: 100vw;
   height: 100vh;
   position: relative;
   display: flex;
   flex-direction: column;
}

.score-counter {
   text-align: center;
   font-family: 'Permanent Marker', cursive;
   font-size: 6rem;
   color: cornflowerblue;
   z-index: 1;
   pointer-events: none;
}

.chicky {
   width: 0;
   height: 0;
   position: absolute;
   transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, top 0.1s ease;
}
